*{
	color: white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(../assets/img/propuesta_Mesa.png);
	background-repeat: no-repeat;
	background-position: bottom;
}
	
.btn-flat, .btn{
	font-size: 12px;
	text-align: justify;
	background-color: transparent;
	border: 1px solid #9e9e9e;
	text-align: center;
	color: #9e9e9e;
}
.btn-flat:hover{
	background-color: #db1322;
	color: white;
}
.submit:hover{
	background-color: #3359b1;
}
#loginFb, #shareFb{
	background-color: #3b5998;
	color: white;
}
#shareTw{
	background-color: #1c94e0;
	color: white;
}
img{
	width: 150px;
	height: 150px;
	display: block;
	margin: auto;
}
a{
	width: 100%;
}
p{
	color: #9e9e9e;
}
h4, #gestion, H6{
	text-align: center;
}
.browser-default, option{
	background-color: transparent;
	border: 1px solid #9e9e9e;
	color: #9e9e9e;
}
.enlaceBlanco{
	text-decoration: none;
	color: #9e9e9e;
}
.enlaceBlanco:hover{
	color: white;
}
@media (max-width: 360px){
	img{
		display: block;
		margin: auto;
	}
}
