*{
	color: white;
	margin: 0;
	padding: 0;
}
.btn-flat, .btn{
	font-size: 12px;
	text-align: justify;
	background-color: transparent;
	border: 1px solid #9e9e9e;
	text-align: center;
	color: #9e9e9e;
}
.btn-flat:hover{
	background-color: #db1322;
	color: white;
}
.submit:hover{
	background-color: #3359b1;
}
img{
	width: 150px;
	height: 150px;
}
